body {
  background: #3b3b3b;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#grid {
  display: flex;
  border: 2px solid white;
  flex-wrap: wrap;
}

.block {
  border: 1px solid #000;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  width: 100px;
  height: 100%;
}

.btns-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grid-size{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.box{
  dislpay: flex;
  width: 70px;
}
